<!-- base version -->
<!-- <app-filter-search></app-filter-search> -->
<br>
<!-- <app-filter-check></app-filter-check> -->
<br>
<!-- app-search-with-menu - shows menu with input inside menu -->
<div class="margin-spacer">
    <app-search-with-menu [apiEndpoint]="'games'"></app-search-with-menu>
</div>
<br/>
<!--app-filter-dropdown- filter dropdown with input box and menu below onput box -->
<div class="margin-spacer">
    <app-filter-dropdown [apiEndpoint]="'games'"></app-filter-dropdown>
</div>