<p>vis-manipulation works!</p>
<h2>Editing the nodes and edges (localized)</h2>
<p style="width: 700px; font-size: 14px; text-align: justify">
    The localization is only relevant to the manipulation buttons.
</p>

<p>
    <label for="locale">Select a locale:</label>
    <select id="locale" (change)="draw()">
        <option value="en">en</option>
        <option value="cn">cn</option>
        <option value="cs">cs</option>
        <option value="de">de</option>
        <option value="es">es</option>
        <option value="fr">fr</option>
        <option value="it">it</option>
        <option value="nl">nl</option>
        <option value="pt-br">pt</option>
        <option value="ru">ru</option>
        <option value="uk">uk</option>
    </select>
</p>
<div id="mynetwork"></div>