<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" />
        </th>
        <th scope="col">Food</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of checklist ">
        <th scope="row">
        <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()" />
        </th>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</div>