<p>
    You can also set array of objects as items inputaaa
</p>

<ng-select [items]="people"
           bindLabel="name"
           bindValue="name"
            placeholder="Search Item ONE"
           [(ngModel)]="selectedPersonId"
           #select (change)="select.blur()"
           (focus)="selectedPersonId=null" 
           (blur)="selectedPersonId===null?selectedPersonId='select a device':''"           
           >
</ng-select>

<hr>
<p>
    While array of objects is the most common items source, you may want to set simple array of strings, numbers,
    booleans
</p>

<ng-select [items]="simpleItems"
           [(ngModel)]="selectedSimpleItem"
           placeholder="Search Item"
           (focus)="selectedSimpleItem=null"
           (blur)="selectedSimpleItem='select a device'"
           >
</ng-select>
