.progressbar-placeholder{
    width: 100%;
}
.progressbar{
    // border: 1px solid red;
    width: 100%;
}
.green-border{
    border: 1px solid green;
    float: right;
    height: 6px;
    background: green;
}
.red-border{
    border: 1px solid red;
    float: left;
    height: 6px;
    background: red;
}