<p>column-view-all works!</p>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div>
            <button class="closeViewAll" (click)="closeModal('close')">Close</button>
        </div>
        <div id="container">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>