<div [formGroup]="form" class="course-details-form">
    <!-- floatLabel= always|never|auto -->
    <mat-form-field floatLabel="auto">
        <input type="text" matInput placeholder="Course title" formControlName="title" #title/>
        <!-- hint -->
        <mat-hint align="end">
            {{title.value.length}}/60
        </mat-hint>
        <!-- error message - if length<5 -->
            <mat-error *ngIf="courseTitle.errors?.minlength">
                A minimum length of 5 Characters
            </mat-error>
    </mat-form-field>
    <!-- radio button -->
    <mat-radio-group class="course-type" formControlName="courseType">
        <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
        <mat-radio-button value="premium">Premium</mat-radio-button>
    </mat-radio-group>
    <!-- select box -->
    <!-- appearance="fill"|"outline"|"none" or remove the tag entirely for default behaviour-->
    <mat-form-field>
        <mat-select formControlName="category" placeholder="Select Category" multiple>
            <mat-option>None</mat-option>
            <!-- group select box -->
            <mat-optgroup label="Beginners">
                <mat-option value="newprogramming">New to Programming</mat-option>
                <mat-option value="newjavascript">New to Javascript</mat-option>
                <mat-option value="newangular">New to Angular</mat-option>
            </mat-optgroup>
            <mat-option value="Intermediate">Intermediate</mat-option>
            <mat-option value="Advanced">Advanced</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- date picker-->
    <mat-form-field appearance="outline" (click)="releasedAtPicker.open()">
        <input type="text"  matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker"/>
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker [dateClass]="dateClass"></mat-datepicker>
    </mat-form-field>
    <!-- checkbox -->
    <!-- [disabled]="true" / [indeterminate]="true"-->
    <mat-checkbox color="primary" formControlName="downloadsAllowed">
        Download Allowed
    </mat-checkbox>
    <!-- text area -->
    <mat-form-field appearance="outline" >
        <textarea matInput placeholder="Description" formControlName="longDescription"
        cdkTextareaAutosize [cdkAutosizeMinRows]="2" [cdkAutosizeMinRows]="5"
        ></textarea>
    </mat-form-field>
</div>