hello
<!-- <app-hello-high-charts></app-hello-high-charts> -->
<!-- <app-bar-chart></app-bar-chart> -->
<!-- <app-three-d-scatter-plot></app-three-d-scatter-plot> -->
<!-- <app-three-d-rotation></app-three-d-rotation> -->
<nav>
    <a class="navBarStyle" routerLink="/helloHighChart">Hello High Chart</a>
    <a class="navBarStyle" routerLink="/barChart">Bar Chart</a>
    <a class="navBarStyle" routerLink="/bar-chart-ii">Bar Chart II</a>
    <a class="navBarStyle" routerLink="/3-d-scatterPlot">3d - Scatterplot</a>
    <a class="navBarStyle" routerLink="/3-d-rotation">3d - Rotation</a>
    <a class="navBarStyle" routerLink="/3-d-annotation">3d - Annotation</a>
    <a class="navBarStyle" routerLink="/3-d-tooltip">3d - Tooltip</a>
    <a class="navBarStyle" routerLink="/stacked-bar-chart">stacked-bar-chart</a>
    <a class="navBarStyle" routerLink="/highlight-bar-chart">highlight-bar-chart</a>
    <a class="navBarStyle" routerLink="/custom-tooltip">custom-tooltip</a>
</nav>
<router-outlet></router-outlet>