<p>filter-check works!</p>
<form [formGroup]="myForm">
    <div *ngFor="let data of categoriesArray">
        <input type="checkbox" (change)="onChange(data.category, $event)"> {{data.category}}<br>
    </div>
    <main>
        <input type="text" class="store-search" placeholder="Search" formControlName="name" (keyup)="searchByInput()">
    </main>
</form>
<div class="grid">
    <div class="filteredStores" *ngFor="let filteredStore of filteredStores">
        {{filteredStore.name}}
    </div>
</div>
<!-- <pre>stores values: {{stores | json}}</pre> -->