<form [formGroup]="mathForm">
    <!-- {{mathForm.value.a}}+{{mathForm.value.b}}=; -->
    <!-- alternative to above syntax -->
    <div class="equation">
        {{a}}+{{b}}=
        <!-- using ngClass -->
        <!-- <input [ngClass]="{highlight:(a+b)*.8>secondsPerSolution }" formControlName="answer"/> -->
        <!-- using custom attribute directive -->
        <input appAnswerHighlight formControlName="answer"/>
    </div>
</form>
<!-- show a number with 1-3 decimal points -->
{{secondsPerSolution|number:'1.1-3'}}
<hr>
<div class="stats">
    <div>Form is valid: {{mathForm.valid}}</div>
    <div>Form Values: {{mathForm.value|json}}</div>
    <div>Form errors: {{mathForm.errors|json}}</div>
</div>