<!-- <p>login works!</p> -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr/>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email"/>
                <!-- errors -->
                 <!-- email error -->
                 <div *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid">
                    <div *ngIf="loginForm.get('email').errors.required">
                        Email is required
                    </div>
                    <div *ngIf="loginForm.get('email').errors.email">
                        Invalid
                    </div>
                 </div>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                   <!-- password error -->
                   <div *ngIf="loginForm.get('password').touched&&!loginForm.get('password').valid">
                    <div *ngIf="loginForm.get('password').errors.required">
                        Password is required
                    </div>
                 </div>
            </div>
            <div class="mb-3">
               <button type="submit" 
                class="btn btn-primary"
                [disabled]="!loginForm.valid"
                >Login</button>
            </div>
        </form>
    </div>
</div>