<p>log-form works!</p>
<div class="card card-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Add a log..."
        [ngModel]="text()" (ngModelChange)="text.set($event)"
        name="text"
      />
    </div>

    <input
      type="submit"
      [value]="selectedLog() ? 'Update Log' : 'Add Log'"
      class="btn btn-light"
      [disabled]="!text()"
    />

    <button type="button" class="btn btn-warning" [hidden]="!selectedLog()" (click)="clearLog()">
      Cancel Edit
    </button>
  </form>
</div>
