<h1>Dropdowns</h1>
<!-- Virtual Scrol -->
<div class="row">
    <div class="col-md-12 flex">
        <div class="col-md-6 margin-space">
            <app-virtual-scroll apiEndpoint="games" (selectedItemEvent)="selectItemParent($event)"></app-virtual-scroll>
        </div>
        <div class="col-md-6 margin-space">
            <app-virtual-scroll apiEndpoint="custom_lessons" (selectedItemEvent)="selectItemParent($event)"></app-virtual-scroll>
        </div>
    </div>
</div>
<!-- Select Scroll Container -->
<div class="row">
    <div class="col-md-12 flex">
        <div class="col-md-6 margin-space">
            <app-select-scroll-search apiEndpoint="games" (selectedItemEvent)="selectItemParent($event)"></app-select-scroll-search>
        </div>
        <div class="col-md-6 margin-space">
            <app-select-scroll-search apiEndpoint="custom_lessons" (selectedItemEvent)="selectItemParent($event)"></app-select-scroll-search>
        </div>
    </div>
</div>