<nav>
<a routerLink="/pdf_one" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF one</a>
<a routerLink="/pdf_two" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF two</a>
<a routerLink="/pdf_three" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF three</a>
<a routerLink="/pdf_four" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF four</a>
<a routerLink="/pdf_five" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF five</a>
<a routerLink="/pdf_canvas_one" routerLinkActive="active-class" [routerLinkActiveOptions]="{ exact: true }">PDF Canvas one</a>
</nav>
<router-outlet></router-outlet>
