<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Step 3 - Specify the formGroup initialized in ts file -->
      <form [formGroup]="signupFormGroup" (ngSubmit)="onSubmit()">
        <div class="formGroup" formGroupName="userDataFormGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="usernameFormControl"
              class="form-control">
              <!-- Username field validation -->
              <div *ngIf="!signupFormGroup.get('userDataFormGroup.usernameFormControl').valid&&signupFormGroup.get('userDataFormGroup.usernameFormControl').touched" class="help-block">
                <!-- Required Username validation-->
                <span *ngIf="signupFormGroup.get('userDataFormGroup.usernameFormControl').errors['required']===true">
                This Field is required
                </span>
                <!-- Forbidden usernames validation -->
                <span *ngIf="signupFormGroup.get('userDataFormGroup.usernameFormControl').errors['nameIsForbidden']===true">
                  This Name is invalid
                </span>

              </div>
              
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="emailFormControl"
              class="form-control">
              <span *ngIf="!signupFormGroup.get('userDataFormGroup.emailFormControl').valid&&signupFormGroup.get('userDataFormGroup.emailFormControl').touched"
                class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="genderFormControl"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <!-- Array of Form Controls -->
        <!-- specify the formArrayName to use FormArray -->
        <div formArrayName="hobbiesFormArray">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <!-- FormArray Looping -->
          <div class="form-group customFormInput" *ngFor="let hobbyControl of signupFormGroup.get('hobbiesFormArray')['controls']; let i=index">
            <!-- Pass the index of array to the formControlName -->
            <input type="text" class="form-control" [formControlName]="i"/>
            <button (click)="onDeleteHobby(i)" type="button">Delete Hobby</button>
          </div>
        </div>
          <span class="help-block" *ngIf="!signupFormGroup.valid&&signupFormGroup.touched">Please enter a valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
