<div class="courses-panel">
    <h3>All Courses</h3>
    <mat-tab-group>
        <mat-tab label="Beginners">
          <!-- whenever coursesChanged is emitted the reloadCourses function is called -->
          <courses-card-list [courses]="beginnerCourses$|async" (coursesChanged)="reloadCourses()"></courses-card-list>
        </mat-tab>
        <mat-tab label="Advanced">
          <!-- whenever coursesChanged is emitted the reloadCourses function is called -->
          <courses-card-list [courses]="advancedCourses$|async" (coursesChanged)="reloadCourses()"></courses-card-list>
        </mat-tab>
    </mat-tab-group>
</div>