table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
}

tr {
    border: 1px solid black;
    // cursor: pointer;
}
.up-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 7px black;
    border-top-width: 0;
    cursor: pointer;
}

.down-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 7px black;
    border-bottom-width: 0;
    margin-top: 1px;
    cursor: pointer;
}