.nav-head{
    width: 100%;
    display: flex;
    overflow: scroll;
}
.nav-head {
    /* Hide the scrollbar */
    overflow: hidden;
    /* This may fully hide the scrollbar in some browsers */
    overflow-x: auto;
    /* Allow horizontal scrolling */
}
/* For Webkit-based browsers (e.g., Chrome, Safari) */
.nav-head::-webkit-scrollbar {
    display: none;
}
/* For Mozilla Firefox */
.nav-head {
    scrollbar-width: none;
    /* Hide the scrollbar */
}
.nav-list-item{
    width: 100px;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    flex: none;
    cursor: pointer;
}
.btn{
    padding: 10px;
}
.scroll-box{
    position: relative;
    button.prev-button{
        position: absolute;
        left: 0;
        top: 12px;
    }
    button.next-button{
        position: absolute;
        right: 0;
        top: 12px;
    }
}