<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:40px;" class="fas fa-shipping-fast">&nbsp;</i>
            <strong style="font-size:30px;">Angular Shopping Site</strong>
            <div class="form-group position-relative">
                <input type="text" class="form-control" placeholder="search products">
                <span class="fas fa-search search-icon"></span>
            </div>
        </div>
       
        <button class="btn btn-primary" routerLink="cart">
            <i class="fas fa-cart-plus" style="font-size:30px"></i>
            <div style="font-size:10px" class="badge bg-danger">{{totalItems}}</div>
        </button>
    </div>
</header>