<p>tab-navigation works!</p>
<a class="navigateButton" (click)="navigateToTab('tabTwo','')" routerLink="/app-parent-tabs" target="_blank">tabTwo</a>
<a class="navigateButton" (click)="navigateToTab('tabThree','')" routerLink="/app-parent-tabs" target="_blank">tabThree</a>
<a class="navigateButton" (click)="navigateToTab('tabThree','value')" routerLink="/app-parent-tabs" target="_blank">tabThree Values</a>
<a class="navigateButton" (click)="navigateToTab('tabThree','mission')" routerLink="/app-parent-tabs" target="_blank">tabThree mission</a>
<a class="navigateButton" (click)="navigateToTab('tabThree','vision')" routerLink="/app-parent-tabs" target="_blank">tabThree vision</a>