<div class="container">
  <div class="tab">
    <ul>
      <li id="mission">Our Mission</li>
      <li id="vision">Our Vision</li>
      <li id="value">Values</li>
    </ul>
    <!--Mission Content  -->
    <div class="content">
      <div class="content-value">
        <h2>Our Mission</h2>
        <p>Mission Mission Mission Mission Mission Mission</p>
      </div>
    <!--Vision Content  -->
      <div class="content-value">
        <h2>Our Vision</h2>
        <p>Vision Vision Vision Vision Vision Vision</p>
      </div>
    <!--Values  -->
    
      <div class="content-value">
        <h2>Values</h2>
        <p>Values Values Values Values Values Values</p>
      </div>
    </div>
  </div>
</div>