<p>table-page works!</p>
<!-- <pre>
   {{receivedData|json}} 
</pre> -->
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Comments</th>
    </tr>
    <tr *ngFor="let data of receivedData;let i = index">
        <td *ngIf="!data.isEdit">{{ data.name }}</td>
        <td *ngIf="data.isEdit"><input [(ngModel)]="data.name"></td>
        
        <td *ngIf="!data.isEdit">{{ data.email }}</td>
        <td *ngIf="data.isEdit"><input [(ngModel)]="data.email"></td>
        
        <td *ngIf="!data.isEdit">{{ data.password }}</td>
        <td *ngIf="data.isEdit"><input [(ngModel)]="data.password"></td>
        
        <td *ngIf="!data.isEdit">{{ data.gender }}</td>
        <td *ngIf="data.isEdit"><input [(ngModel)]="data.gender"></td>
        
        <td *ngIf="!data.isEdit">{{ data.comments }}</td>
        <td *ngIf="data.isEdit"><input [(ngModel)]="data.comments"></td>
        <td><button (click)="editRow(data)">{{ data.isEdit ? 'Save' : 'Edit' }}</button></td>
        <td><button (click)="deleteRow(i)">Delete</button></td>
    </tr>
</table>