<p>table-page works!</p>
<!-- <pre>
   {{receivedData|json}} 
</pre> -->
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Comments</th>
    </tr>
    <tr *ngFor="let data of receivedData">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.password }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.comments }}</td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>