<h1>Custom Nested Form</h1>
<!-- Custom Nested Form -->
<form [formGroup]="survey" novalidate (ngSubmit)="onSubmit(survey)">
    <!---Survey Section -->
    <div formArrayName="sections">
            <button type="button" (click)="addSection()" class="point">Add Section </button>

        <div class="section-container" *ngFor="let section of getSections(survey); let i = index">
            <!-- form.controls.sections.controls; -->

            <!-- <pre>section {{getSections(survey)[i].controls.sectionTitle.errors?.required|json}}</pre> -->
            <div class="ui raised segments " [formGroupName]="i">
                <!-- <h4 class="ui header">Section Details</h4> -->
                <div class="form-intro ">
                    <div class="section-title-placeholder flex-column">
                        <input type="text" placeholder="Section Title" formControlName="sectionTitle">
                        <ng-container *ngIf="submitted && getSections(survey)[i].controls.sectionTitle.errors?.required==true">
                            Empty Section Title
                        </ng-container>
                    </div>
                    <div class="section-description-placeholder flex-column">
                        <input type="text" placeholder="Form Description" formControlName="sectionDescription">
                        <ng-container *ngIf="submitted && getSections(survey)[i].controls.sectionDescription.errors?.required==true">
                            Empty Section Description
                        </ng-container>
                    </div>
                </div>
                <div class="form-questions">
                    <!-- Question segment -->
                    <!---Survey Section -->
                    <div class="question-container" formArrayName="questions">
                        <div [formGroupName]="j" *ngFor="let question of getQuestions(section); let j = index" class="getQuestions-container">
                            <!-- getSections - form.controls.sections.controls; -->
                            <!-- {{getSections(survey)[i].controls.questions.controls[j].controls.questionTitle.errors?.required|json}} -->
                            <div class="question-description-placeholder flex-column">
                                <input type="text" placeholder="Untitled Question" formControlName="questionTitle">
                                <ng-container *ngIf="submitted && getSections(survey)[i].controls.questions.controls[j].controls.questionTitle.errors?.required">
                                    Empty Untitled Description
                                </ng-container>
                            </div>
                            <div class="question-type-placeholder flex-column">
                                <select formControlName="questionType">
                                    <option></option>
                                    <option>Check Boxes</option>
                                    <option>Free Text</option>
                                    <option>Rating</option>
                                    <option>Date</option>
                                    <option>Time</option>
                                </select>
                                <ng-container
                                    *ngIf="submitted && getSections(survey)[i].controls.questions.controls[j].controls.questionType.errors?.required">
                                    Empty Untitled Description
                                </ng-container>
                            </div>
                           
                            
                            <button type="button" (click)="addQuestion(i)">Add Question...</button>
                            <span *ngIf="getQuestions(section).length > 1" (click)="removeQuestion(i)">Remove
                                Question</span>
                        </div><br>
                    </div>
                    <!-- End Question -->
                </div>
            </div>
            <span *ngIf="getSections(survey).length > 1" (click)="removeSection(i)">X Remove Section</span>

            <br>
        </div>
    </div>
    <!-- End Section -->
    <!-- submit -->
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
<p>survey.valid--{{survey.valid|json}}</p>
<pre> {{survey.value | json}} </pre>