<div class="course">
  <h2>{{course?.description}}</h2>
  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">
  <!-- spinner for loading -->
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <!-- [dataSource]="lessons" -- pass the data as am array -->
  <table mat-table class="lessons-table mat-elevation-z8" 
   [dataSource]="lessons" 
   matSort
   matSortDisableClear
   matSortActive="seqNo"
   matSortDirection="asc"
   multiTemplateDataRows
   >
    <!-- template for table columns to be displayed -->
    <!-- 1st column -->
    <ng-container matColumnDef="seqNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        #
      </th>
      <!-- *matCellDef - do for loop of lessons array -->
      <td mat-cell *matCellDef="let lesson">
        {{lesson.seqNo}}
      </td>
    </ng-container>
    <!-- 2nd column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>
        Description
      </th>
      <!-- *matCellDef - do for loop of lessons array -->
      <td mat-cell *matCellDef="let lesson">
        {{lesson.description}}
      </td>
    </ng-container>
    <!-- 3rd column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>
        Duration
      </th>
      <!-- *matCellDef - do for loop of lessons array -->
      <td mat-cell *matCellDef="let lesson">
        {{lesson.duration}}
      </td>
    </ng-container>
    <!-- Expanded row-->
    <ng-container matColumnDef="expandedDetail">      
      <!-- *matCellDef - do for loop of lessons array -->
      <td mat-cell *matCellDef="let lesson" colspan="3">
        {{lesson.longDescription}}
      </td>
    </ng-container>
    <!-- template for row header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- template for table row -->
    <tr mat-row 
    *matRowDef="let lesson;columns:displayedColumns"
    (click)="onToggleLesson(lesson)"      
      >
    </tr>
    <!-- template for expanded data row -->
    <!-- expandedDetail is not part of template -->
    <!-- collapsed-detail is added if lesson is different from expandedLesson-->
    <tr mat-row 
    *matRowDef="let lesson;columns:['expandedDetail']"
    [class.collapsed-detail]="lesson!=expandedLesson"
    >
    </tr>
  </table>
    <!-- Paginator -->
    <!-- [length] - total items of the data-->
    <mat-paginator class="mat-elevation-z8" [length]="course?.lessonsCount" [pageSize]="3" [pageSizeOptions]="[3,5,10]">
    </mat-paginator>
</div>