.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

.row-even {
    flex-direction: row;
}

.row-odd {
    flex-direction: row-reverse;
}

.box {
    flex: 1;
    max-width: 300px;
    height: 100px;
    margin: 5px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}