<p>checkbox-selection-rm works!</p>
<button (click)="getSelectedNames()">Apply</button>
<div class="selection-layer">
    <label for="fingerprint">
        <input type="checkbox" id="fingerprint" name="fingerprint" 
            [ngModel]="selections.fingerprint.selected"
            (ngModelChange)="toggleCheckbox('fingerprint', $event)">
        fingerprint
    </label>
    <pre>
        {{selections.fingerprint.selected|json}}
    </pre>
    <label for="hw_sw">
        <input type="checkbox" [attr.disabled]="selections.fingerprint.selected==true ? true : null"
             id="hw_sw" name="hw_sw" [ngModel]="selections.hw_sw.selected"
            (ngModelChange)="toggleCheckbox('hw_sw', $event)">
        hw_sw
    </label>
    <label for="hardware">
        <input type="checkbox" [attr.disabled]="selections.fingerprint.selected ? true : null"
            id="hardware" name="hardware" [ngModel]="selections.hardware.selected"
            (ngModelChange)="toggleCheckbox('hardware', $event)">
        hardware
    </label>
    <label for="software">
        <input type="checkbox" [attr.disabled]="selections.fingerprint.selected ? true : null"
            id="software" name="software" [ngModel]="selections.software.selected"
            (ngModelChange)="toggleCheckbox('software', $event)">
        software
    </label>
    <label for="feature">
        <input type="checkbox" [attr.disabled]="selections.fingerprint.selected ? true : null"
            id="feature" name="feature" [ngModel]="selections.feature.selected"
            (ngModelChange)="toggleCheckbox('feature', $event)">
        feature
    </label>   
</div>
<pre>selections: {{selections | json}}</pre>